### Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


### C extensions
*.so


### OS X
.DS_Store


### IDE configuration files
.idea


### Environment Configuration
.env
.envrc
.python-version


### Logs
*.log


### Build Files
/cache/
/output/
/tmp/
/bower_components/

/Dockerfile
/db.sqlite3
/ops.sh
/package-lock.json
/package.json
/webpack.config.js

.git
.gitignore
.dockerignore

/docs
/node_modules
/reactapp
/vueapp
/build
/assets
/remark
