{% extends "account/base.html" %}
{% load i18n staticfiles static account socialaccount %}

{% block meta_title %}
  {% trans "Sign In" %}
{% endblock %}

{% block extra_css %}
  <style>
    body::before {
      background-image: url(https://static.pexels.com/photos/276508/pexels-photo-276508.jpeg)
    }
    .page-login .panel {
      width: 500px;
      color: #76838f;
    }

    .page-login form {
      margin: 45px 0 30px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="page page-login vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">&gt;
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="{% static 'vacayo/img/logo.png' %}" alt="...">
          </div>
          <h1>{% trans "Sign In" %}</h1>
          <form id="login_form" class="form-horizontal fv-form fv-form-bootstrap4" autocomplete="off" novalidate="novalidate" method="POST" action="{% url 'account_login' %}">
            <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
{#            {% form form=form %} {% endform %}#}
            {% csrf_token %}
            {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}

            {% if form.errors %}
              <div style="margin-top:15px;" class="flow-text red-text">
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="email" class="form-control" name="login" placeholder="Email" data-fv-field="login" autofocus="autofocus">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon"><i class="icon wb-lock" aria-hidden="true"></i></span>
                <input type="password" class="form-control" name="password" placeholder="Password" data-fv-field="password">
              </div>
            </div>
            <div class="form-group clearfix">
              <div class="checkbox-custom checkbox-inline checkbox-primary checkbox-lg float-left">
                <input type="checkbox" id="inputCheckbox" name="remember">
                <label for="inputCheckbox">Remember me</label>
              </div>
              <a class="float-right" href="{% url 'account_reset_password' %}">{% trans "Forgot password?" %}</a>
            </div>
            <button type="submit" id="login_form_submit" class="btn btn-primary btn-block mt-40">Sign in</button>
          </form>
          <p>Don't have an account? Please <a href="{% url 'account_signup' %}">Sign up</a> instead.</p>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>© Vacayo, Inc 2017. All RIGHTS RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    (function() {
      $('#login_form').formValidation({
        framework: "bootstrap4",
        icon: null,
        button: {
          selector: '#login_form_submit',
          disabled: 'disabled'
        },
        fields: {
          login: {
            validators: {
              notEmpty: {
                message: 'The email address is required and cannot be empty'
              },
              emailAddress: {
                message: 'The email address is not valid'
              }
            }
          },
          password: {
            validators: {
              notEmpty: {
                message: 'The password is required and cannot be empty'
              },
              stringLength: {
                min: 8,
                message: 'The password must at least 8 characters long'
              }
            }
          }
        },
        err: {
          clazz: 'text-help'
        },
        row: {
          invalid: 'has-danger'
        }
      });
    })();
  </script>
{% endblock %}

