{% extends "account/base.html" %}
{% load i18n material_form %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock %}

{% block content %}
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-block p-4">
              {% if token_fail %}
                  <h1>{% trans "Bad Token" %}</h1>
                  {% url 'account_reset_password' as passwd_reset_url %}
                  <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used or expired. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
              {% else %}
                <form class="password_change" id="password_change_form" method="post" action=".">
                  <h1>{% trans "Change Password" %}</h1>
                  {% csrf_token %}
{#                  {% form form=form %} {% endform %}#}
                  {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                  {% endif %}

                  {% if form.errors %}
                    <div style="margin-top:15px;" class="flow-text red-text">
                      {% for field in form %}
                        {% for error in field.errors %}
                          <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                          </div>
                        {% endfor %}
                      {% endfor %}
                      {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                        </div>
                      {% endfor %}
                    </div>
                  {% endif %}

                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password"  name="password1" class="form-control" placeholder="Password">
                </div>

                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" name="password2" class="form-control" placeholder="Repeat password">
                </div>

                  <button type="submit" class="btn btn-block btn-success">Change My Password</button>
                </form>
              {% endif %}
            </div>
            <div class="card-footer p-4">
              <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
