{% extends "account/base.html" %}
{% load i18n staticfiles static account socialaccount %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock %}

{% block extra_css %}
  <style>
    body::before {
      background-image: url(https://static.pexels.com/photos/276508/pexels-photo-276508.jpeg)
    }
    .page-password-reset .panel {
      width: 500px;
      color: #76838f;
    }

    .page-password-reset form {
      margin: 45px 0 30px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="page page-password-reset vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">&gt;
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="{% static 'vacayo/img/logo.png' %}" alt="...">
          </div>
          {% if token_fail %}
            <h1>{% trans "Bad Token" %}</h1>
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used or expired. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
          {% else %}
            <form id="password_reset_form" class="form-horizontal fv-form fv-form-bootstrap4" autocomplete="off" novalidate="novalidate" method="POST" action=".">
              <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
  {#            {% form form=form %} {% endform %}#}
              {% csrf_token %}
              {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}

              {% if form.errors %}
                <div style="margin-top:15px;" class="flow-text red-text">
                  {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      <strong>{{ error|escape }}</strong>
                    </div>
                  {% endfor %}
                </div>
              {% endif %}

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icon wb-lock" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control" name="password1" placeholder="Password" data-fv-field="password1">
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icon wb-lock" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control" name="password2" placeholder="Password (again)" data-fv-field="password2">
                </div>
              </div>

              <button type="submit" id="password_reset_form_submit" class="btn btn-primary btn-block mt-40">Change My Password</button>
            </form>
          {% endif %}
          <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>© Vacayo, Inc 2017. All RIGHTS RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    (function() {
      $('#password_reset_form').formValidation({
        framework: "bootstrap4",
        icon: null,
        button: {
          selector: '#password_reset_form_submit',
          disabled: 'disabled'
        },
        fields: {
          password1: {
            validators: {
              notEmpty: {
                message: 'The password is required and cannot be empty'
              },
              stringLength: {
                min: 8,
                message: 'The new password must at least 8 characters long'
              }
            }
          },
          password2: {
            validators: {
              notEmpty: {
                message: 'The password is required and cannot be empty'
              },
              stringLength: {
                min: 8,
                message: 'The new password must at least 8 characters long'
              }
            }
          }
        },
        err: {
          clazz: 'text-help'
        },
        row: {
          invalid: 'has-danger'
        }
      });
    })();
  </script>
{% endblock %}