{% extends "account/base.html" %}
{% load i18n staticfiles static account socialaccount %}

{% block head_title %}
  {% trans "Password Reset" %}
{% endblock %}

{% block extra_css %}
  <style>
    body::before {
      background-image: url(https://static.pexels.com/photos/276508/pexels-photo-276508.jpeg)
    }
    .page-password-reset .panel {
      width: 500px;
      color: #76838f;
    }

    .page-password-reset form {
      margin: 45px 0 30px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="page page-password-reset vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">&gt;
    <div class="page-content vertical-align-middle animation-slide-top animation-duration-1">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="{% static 'vacayo/img/logo.png' %}" alt="...">
          </div>
          <h1>{% trans "Password Reset" %}</h1>
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <p>{% blocktrans %}We have sent you an e-mail with a link to reset your password.{% endblocktrans %}</p>
          <p>{% blocktrans %}Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>© Vacayo, Inc 2017. All RIGHTS RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}
