{% extends "account/base.html" %}
{% load i18n account material_form %}

{% block meta_title %}
  {% trans "Password Reset" %}
{% endblock %}

{% block content %}
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-block p-4">
              <form class="password_reset" id="password_reset_form" method="post" action="{% url 'account_reset_password' %}">
                <h1>{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                {% csrf_token %}
{#                  {% form form=form %} {% endform %}#}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                {% if form.errors %}
                  <div style="margin-top:15px;" class="flow-text red-text">
                    {% for field in form %}
                      {% for error in field.errors %}
                        <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                        </div>
                      {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}

                <div class="input-group mb-3">
                  <span class="input-group-addon">@</span>
                  <input type="text" name="email" class="form-control" placeholder="Email">
                </div>

                <button type="submit" class="btn btn-block btn-success">Reset My Password</button>
              </form>
            </div>
            <div class="card-footer p-4">
              <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}