{% extends "account/base.html" %}
{% load i18n staticfiles static account socialaccount %}

{% block meta_title %}
  {% trans "Password Reset" %}
{% endblock %}

{% block extra_css %}
  <style>
    body::before {
      background-image: url(https://static.pexels.com/photos/276508/pexels-photo-276508.jpeg)
    }
    .page-password-reset .panel {
      width: 500px;
      color: #76838f;
    }

    .page-password-reset form {
      margin: 45px 0 30px;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="page page-password-reset vertical-align text-center" data-animsition-in="fade-in" data-animsition-out="fade-out">&gt;
    <div class="page-content vertical-align-middle">
      <div class="panel">
        <div class="panel-body">
          <div class="brand">
            <img class="brand-img" src="{% static 'vacayo/img/logo.png' %}" alt="...">
          </div>
          <h1>{% trans "Forgot your password?" %}</h1>
          {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
          <form id="password_reset_form" class="form-horizontal fv-form fv-form-bootstrap4" autocomplete="off" novalidate="novalidate" method="POST" action="{% url 'account_reset_password' %}">
            <p>
              <small>{% trans "Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</small>
            </p>
            <button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
{#            {% form form=form %} {% endform %}#}
            {% csrf_token %}
            {% if redirect_field_value %}<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />{% endif %}

            {% if form.errors %}
              <div style="margin-top:15px;" class="flow-text red-text">
                {% for error in form.non_field_errors %}
                  <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <div class="form-group">
              <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="email" class="form-control" name="email" placeholder="Email" data-fv-field="email" autofocus="autofocus">
              </div>
            </div>

            <button type="submit" id="password_reset_form_submit" class="btn btn-block btn-success mt-40">Reset My Password</button>
          </form>
        </div>
      </div>
      <footer class="page-copyright page-copyright-inverse">
        <p>© Vacayo, Inc 2017. All RIGHTS RESERVED.</p>
        <div class="social">
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-twitter" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-facebook" aria-hidden="true"></i>
          </a>
          <a class="btn btn-icon btn-pure" href="javascript:void(0)">
            <i class="icon bd-google-plus" aria-hidden="true"></i>
          </a>
        </div>
      </footer>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    (function() {
      $('#password_reset_form').formValidation({
        framework: "bootstrap4",
        icon: null,
        button: {
          selector: '#password_reset_form_submit',
          disabled: 'disabled'
        },
        fields: {
          email: {
            validators: {
              notEmpty: {
                message: 'The email address is required and cannot be empty'
              },
              emailAddress: {
                message: 'The email address is not valid'
              }
            }
          },
        },
        err: {
          clazz: 'text-help'
        },
        row: {
          invalid: 'has-danger'
        }
      });
    })();
  </script>
{% endblock %}