{% extends "account/base.html" %}
{% load i18n account socialaccount material_form %}

{% block meta_title %}
  {% trans "Signup" %}
{% endblock %}

{% block content %}
  <div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="card mx-4">
            <div class="card-block p-4">
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                <h1>{% trans "Sign Up" %}</h1>
                <p class="text-muted">Create your account</p>
                <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
                {% csrf_token %}
{#                {% form form=form %} {% endform %}#}
                {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                {% if form.errors %}
                  <div style="margin-top:15px;" class="flow-text red-text">
                    {% for field in form %}
                      {% for error in field.errors %}
                        <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                        </div>
                      {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                      </div>
                    {% endfor %}
                  </div>
                {% endif %}

                <div class="input-group mb-3">
                  <span class="input-group-addon">@</span>
                  <input type="text" name="email" class="form-control" placeholder="Email">
                </div>

                <div class="input-group mb-3">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password"  name="password1" class="form-control" placeholder="Password">
                </div>

                <div class="input-group mb-4">
                  <span class="input-group-addon"><i class="icon-lock"></i></span>
                  <input type="password" name="password2" class="form-control" placeholder="Repeat password">
                </div>

                <button type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
            <!--
            <div class="card-footer p-4">
              <div>
                {% get_providers as socialaccount_providers %}
                {% if socialaccount_providers %}
                <div class="mb-4">
                  {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                  {% include "socialaccount/snippets/login_extra.html" %}
                </div>
                {% endif %}
              </div>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
